<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <p class="mb-4"><img src="images/logo.png" alt="Image" class="img-fluid"></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nemo minima qui dolor, iusto iure.</p>  
        <p><a href="#">Learn More</a></p>
      </div>
      <div class="col-lg-3">
        <h3 class="footer-heading"><span>About Us</span></h3>
        <ul class="list-unstyled">
          <li><a href="#">View</a></li>
          <li><a href="#">Mission</a></li>
          <li><a href="#">History</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h3 class="footer-heading"><span>Contact</span></h3>
        <ul class="list-unstyled">
          <li><a href="#">WhatsApp</a></li>
          <li><a href="#">Tel.</a></li>
          <li><a href="#">Correo</a></li>
          <li><a href="#">Dirección</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h3 class="footer-heading"><span>Virtual Classroom</span></h3>
        <ul class="list-unstyled">
          <li><a href="#">Log in</a></li>
          <%# <li><a href="#">Science &amp; Engineering</a></li> %>
          <%# <li><a href="#">Arts &amp; Humanities</a></li> %>
          <%# <li><a href="#">Economics &amp; Finance</a></li> %>
          <%# <li><a href="#">Business Administration</a></li> %>
          <%# <li><a href="#">Computer Science</a></li> %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="copyright">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved, by <a href="/">Colegio San Fernando</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </div>
</div>